1. Write a code to revere a string.

In [ ]:
string_ = input('Enter the String: ')
reverse_ = string_[::-1]
print(reverse_)

Enter the String: Devesh
hseveD

2. Write a code to count the number vowels in a string.

In [ ]:
def countstring(x):
  vowels = 'aeiouAEIOU'
  count = 0
  for char in x:
    if char in vowels:
      count +=1
  return count

string_ = input('Enter the String: ')

result = countstring(string_)

print(result)

Enter the String: Harshita
3

3. Write code to check if a given string is a palindrome or not.

In [ ]:
given = input('Enter the string to check: ')
filtering = given.replace(" ","").lower()
if filtering == filtering[::-1]:
  print('Palindrome')
else:
  print('Not Palindrome')

Enter the string to check: Nitin
Palindrome

4. Write a code to check if two given strings are anagrams of each others.

In [ ]:
def angram(str1, str2):
  str1 = str1.replace(' ','').lower()
  str2 = str2.replace(' ','').lower()
  return sorted(str1) == sorted(str2)

string1 = input('Enter string 1: ')
string2 = input('Enter string 2: ')

if angram(string1, string2):
  print('Angrams')
else:
  print('Not Angrams')

Enter string 1: dgnkj
Enter string 2: kdkals
Not Angrams

5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
def checker(main, sub):
  occurrence = []
  start = 0
  while True:
    start=main.find(sub, start)
    if start == -1:
      break
    occurrence.append(start)
    start +=1
  return occurrence

main_string= input('Enter the main string')
sub_string= input('Enter the sub string')

result = checker(main_string, sub_string)

if result:
  print(f'The substring "{sub_string}" is found at positions: {result}')
else:
  print(f'The substring "{sub_string}" is not found in the main string.')

Enter the main stringmarry had a little lamb and little bag.
Enter the sub stringlittle
The substring "little" is found at positions: [12, 28]

6. Write a code to perform basis string compression using the counts of repeated characters.

In [ ]:
def compress(s):
  compressed = []
  count = 1
  prev_char = s[0]
  for char in s[1:]:
    if char == prev_char:
      count +=1
    else:
      compressed.append(prev_char + str(count))
      count = 1
      prev_char = char
  compressed.append(prev_char + str(count))
  compressed_string = ''.join(compressed)
  return compressed_string


test_string = input('Enter the test string: ')
print(f'Test String: {test_string}')

compressed = compress(test_string)

print(f'Compressed String: {compressed}')

Enter the test string: aaaggjn
Test String: aaaggjn
Compressed String: a3g2j1n1

7. Write a code to determine if a string has all unique characters.

In [ ]:
def unique(s):
  unique_char = set()
  for char in s:
    if char in unique_char:
      return False
    else:
      unique_char.add(char)
  return True

result = unique(test_string)

test_string = input('Enter unique characters: ')
print(f'{test_string} has all unique characters: {result}')

Enter unique characters: adcf
adcf has all unique characters: True

8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
given = input('Enter the string: ')
convert =  input("Enter 'U' for Uppercase or 'L' for Lowercase: ")
case_change = convert.strip()
if case_change == 'U' or case_change == 'u':
  u = given.upper()
  print(u)

elif case_change == 'L' or case_change == 'l':
  l = given.lower()
  print(l)
else:
  print('Please give input as U or L')

Enter the string: GHJFSLDHJDFJH
Enter 'U' for Uppercase or 'L' for Lowercase: l
ghjfsldhjdfjh

9. Write a code to count the number of words in a string.

In [ ]:
string = input('Enter the string: ')
splitted = string.split()
numbers = len(splitted)
print(numbers)

Enter the string: fsfbj dbsgjk sdh dhgds gsdklgjnsljh ghsdjkgh.
6

10. Write a code to concatenate two strings without using the + operator.

In [ ]:
str1 = 'Hello'
str2 = 'World'
joined = ' '.join([str1, str2])
print(joined)

Hello World

11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def eliminate(s):
  for i in s[:]:
    if i == 8:
      sample_list.remove(i)
  return s
sample_list = [2,8,11,23,15,9,8,8,'Pwskills',23.5,8,5,8]
result = eliminate(sample_list)
print(result)

[2, 11, 23, 15, 9, 'Pwskills', 23.5, 5]

12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
def scndlargest(s):
  ordered = sorted(s)
  return ordered[-2]

sample_list = [2,8,11,23,15,9,8,8,25,8,5,8]
result = scndlargest(sample_list)
print(result)

23

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def counting(s):
  element_dict = {}
  for elem in s:
    if elem not in element_dict:
      element_dict[elem] = 1
    else:
      element_dict[elem] +=1
  return element_dict

sample_list = [2,5,6,3,2,5,4,8,6,3,5,5,1,1,1,1,6]
result =  counting(sample_list)
print(result)

{2: 2, 5: 4, 6: 3, 3: 2, 4: 1, 8: 1, 1: 4}

14. Write a code to reverse a list in-place without using any built-in reverse function.

In [ ]:
def reverse_list_in_place(lst):
    left = 0
    right = len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]

        left += 1
        right -= 1

sample_list = [1, 2, 3, 4, 5]
reverse_list_in_place(sample_list)
print(sample_list)

[5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def duplicate(s):
  step = []
  for i in s:
    if i not in step:
      step.append(i)
  return step
sample_list = [2,5,6,3,2,5,4,8,6,3,5,5,1,1,1,1,6]
result = duplicate(sample_list)
print(result)

[2, 5, 6, 3, 4, 8, 1]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
sample_list = [2,5,6,3,2,5,4,8,6,3,5,5,1,1,1,1,6]
sample_copy = sample_list[:]
sample_copy.sort()
if sample_copy == sample_list:
  print('given list is sorted')
else:
  print('given list is not sorted')

given list is not sorted

18. Implement a code to find the intersection of two given lists.

In [ ]:
def intersect(x,y):
  outcome = set(x).intersection(set(y))
  return outcome

list1 = [2,4,8,6,1,9,4,3]
list2 = [5,9,4,4,3,]
result = intersect(list1,list2)
print(result)

{9, 3, 4}

19. Create a code to find the union of two lists without duplicates.

In [ ]:
def union_(x,y):
  outcome = set(x).union(set(y))
  return outcome

list1 = [2,4,8,6,1,9,4,3]
list2 = [5,9,4,4,3,]
result = union_(list1,list2)
print(result)

{1, 2, 3, 4, 5, 6, 8, 9}

20. Write a code to shuffle a given list randomly without using any built-in shuffle function.

In [ ]:
import random
j = random.randint(0, 9)
print(j)

7

In [ ]:
import random

def fisher_yates_shuffle(lst):
    n = len(lst)
    for i in range(n-1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]


sample_list = [2,4,8,6,1,9,4,3]
print("Original list:", sample_list)
fisher_yates_shuffle(sample_list)
print("Shuffled list:", sample_list)

Original list: [2, 4, 8, 6, 1, 9, 4, 3]
Shuffled list: [1, 9, 3, 4, 6, 4, 8, 2]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def common(x,y):
  outcome = set(x).intersection(set(y))
  return outcome

tup1 = (2,4,8,6,1,9,4,3)
tup2 = (5,9,4,4,3)
result = common(tup1,tup2)
print(result)

{9, 3, 4}

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [6]:
def get_set(prompt):
  while True:
    try:
      integer = input(prompt)
      integer_set = set(map(int,integer.split(',')))
      return integer_set

    except ValueError:
      print("Invalid input. Please enter integers separated by commas.")

set1 = get_set('Enter integers separated by commas for set-1')
set2 = get_set('Enter integers separated by commas for set-2')

intersect = set1.intersection(set2)
print(intersect)

Enter integers separated by commas for set-11,3,4,6,5,2
Enter integers separated by commas for set-27,5,1,2,3,5
{1, 2, 3, 5}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [7]:
def merger(x,y):
  z = x+y
  return z

tuple_1 = (1,2,8,'tree',9,'PW','Goa')
tuple_2 = (6,4,'water',8,'The Earth')

new_tuple = merger(tuple_1,tuple_2)
print(new_tuple)

(1, 2, 8, 'tree', 9, 'PW', 'Goa', 6, 4, 'water', 8, 'The Earth')

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [9]:
def get_set(prompt):
  string = input(prompt)
  _set = set(string.split(','))
  return _set

set1 = get_set('Enter string separated by commas')
set2 = get_set('Enter string separated by commas')

difference = set1-set2

print(difference)

Enter string separated by commasa,g,h,5
Enter string separated by commasr,g,h
{'a', '5'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [14]:
def new_tuple(x,y,z):
  if y<0 or y>z or z>=len(x):
    raise ValueError("Invalid indices. Ensure 0 <= start_index <= end_index <= length of the tuple.")
  return x[y:z]

sample_tuple = input('Enter values separated by commas')
original_tuple = tuple(sample_tuple.split(','))
first_integer = int(input('Enter the integer'))
second_integer = int(input('Enter the integer'))

result = new_tuple(original_tuple,first_integer,second_integer)
print(result)

Enter values separated by commasfgd,fh,bch,bhdvb,bc,ye,is,cbn,vb,jvbvs
Enter the integer2
Enter the integer5
('bch', 'bhdvb', 'bc')

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [1]:
x=input('Enter chaacters separated by commas ')
set1 = set(x.split(','))
y=input('Enter chaacters separated by commas ')
set2 = set(y.split(','))
result = set1.union(set2)
print(result)

Enter chaacters separated by commas fdhd,fhdh,fhdfh,dhhd
Enter chaacters separated by commas 454,15,125,212,45
{'fhdfh', '454', '15', '212', 'fdhd', '45', '125', 'dhhd', 'fhdh'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [4]:
def min_max(t):
  max_value = max(t)
  min_value = min(t)
  return max_value, min_value

a = input('Enter integers separated by commas ')
test_tuple = tuple(map(int,a.split(',')))
max_value, min_value = min_max(test_tuple)
print(f'{max_value} is maximum and {min_value} is minimum value')

Enter integers separated by commas 4,5,6,1,2,8,45,64,1,23
64 is maximum and 1 is minimum value

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [7]:
x=input('Enter chaacters separated by commas ')
set1 = set(map(int,x.split(',')))
y=input('Enter chaacters separated by commas ')
set2 = set(map(int,y.split(',')))
union_result = set1.union(set2)
intersection_result = set1.intersection(set2)
difference = set1 - set2
print(f'Intersection: {intersection_result}\nUnion: {union_result}\nDifference: {difference}')

Enter chaacters separated by commas 4,5,1,2,3,4,8,6,4
Enter chaacters separated by commas 4,2,6,9,4,6456,15
Intersection: {2, 4, 6}
Union: {1, 2, 3, 4, 5, 6, 8, 9, 15, 6456}
Difference: {8, 1, 3, 5}

29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [9]:
def count_occurrences(tup, element):
    """Returns the count of occurrences of the given element in the tuple."""
    return tup.count(element)
user_input = input("Enter the elements of the tuple (separated by commas): ")
input_tuple = tuple(user_input.split(','))

element = input("Enter the element to count: ")

count = count_occurrences(input_tuple, element)

print(f"The element '{element}' occurs {count} time(s) in the tuple.")

KeyboardInterrupt: Interrupted by user

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [10]:
x=input('Enter chaacters separated by commas ')
set1 = set(x.split(','))
y=input('Enter chaacters separated by commas ')
set2 = set(y.split(','))
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

Enter chaacters separated by commas a,b,c,d
Enter chaacters separated by commas c,d,e,f
{'a', 'b', 'e', 'f'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [11]:
def process(s):
  unique = {}
  for char in s:
    if char not in unique:
      unique[char] = 1
    else:
      unique[char] +=1
  return unique

x=input('Enter element of list separated by commas: ')
input_list = x.split(',')
result = process(input_list)
print(result)

Enter element of list separated by commas: A,B,C,D,D,D,D,A,C,C,X,Z
{'A': 2, 'B': 1, 'C': 3, 'D': 4, 'X': 1, 'Z': 1}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [15]:
def merger(dict1, dict2):
  for key in dict1:
    if key in dict2:
      dict2[key] += dict1[key]
    else:
      dict2[key] = dict1[key]
  return dict2

def input_to_dict(prompt):
  user_input = input(prompt)
  items = user_input.split(',')
  result_dict = {}
  for item in items:
    key, value = item.split(':')
    result_dict[key] = int(value)
  return result_dict

dict1 = input_to_dict('Enter the first dictionary (as key:value, key:value,...): ')
dic2 = input_to_dict('Enter the second dictionary (as key:value, key:value,...): ')

result = merger(dict1,dic2)
print(result)

Enter the first dictionary (as key:value, key:value,...): c:3,d:5,e:6,f:1
Enter the second dictionary (as key:value, key:value,...): a:2,b:3,c:5,d:4
{'a': 2, 'b': 3, 'c': 8, 'd': 9, 'e': 6, 'f': 1}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [1]:
def get_nested_value(nested_dict, key_list):
    current_dict = nested_dict
    for key in key_list:
        if key in current_dict:
            current_dict = current_dict[key]
        else:
            return None
    return current_dict

nested_dict = {
    'a': {
        'b': {
            'c': 42
        }
    }
}
key_list = ['a', 'b', 'c']

value = get_nested_value(nested_dict, key_list)

print(f"The value is: {value}")

The value is: 42

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [10]:
def sorter(s):
  input_list = s.split(',')
  input_dict = {}
  for item in input_list:
    key, value = item.split(':')
    input_dict[key.strip()] = value.strip()
  while True:
    x = input("Type 'Yes' to sort ascending and 'No' to sort decending :").strip().lower()
    if x == 'yes':
      sorted_items = sorted(input_dict.items(), key = lambda item: item[1])
      break

    elif x == 'no':
      sorted_items = sorted(input_dict.items(), key = lambda item: item[1], reverse = True)
      break
    else:
      print('Enter either "Yes" or "No"')

  y = sorted_items
  return y

user_dict = input('Enter key and value(as key:value, key:value...): ')
result= sorter(user_dict)
print(result)

Enter key and value(as key:value, key:value...): a:2,b:3,c:1
Type 'Yes' to sort ascending and 'No' to sort decending :ryrd
Enter either "Yes" or "No"
Type 'Yes' to sort ascending and 'No' to sort decending :no
[('b', '3'), ('a', '2'), ('c', '1')]

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [11]:
def invert_dictionary(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]

    return inverted_dict

example_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 2,
    'e': 3
}

inverted_dict = invert_dictionary(example_dict)
print("The inverted dictionary is:", inverted_dict)

The inverted dictionary is: {1: ['a', 'c'], 2: ['b', 'd'], 3: ['e']}